<div class="legend animated rollIn" *ngIf="openMap">
  <span style="font-size: 22px;">Legend:</span>
  <div class="class">
    <div class="sagol"></div> 
    <div class="son">LandLocked Country</div>
  </div>
  <div class="class">
    <div class="green"></div> 
    <div class="son">Best Swimming Medals</div> 
  </div>
  <div class="class">
    <div class="orange"></div> 
    <div class="son">Medium Swimming Medals</div>
  </div>
  <div class="class">
    <div class="red"></div> 
    <div class="son">Poor Swimming Medals</div>
  </div>
</div>

<div id="mapcontainer" style="background: black; opacity: 0 ;position:relative; width:100%%; height:100%%;"></div>
