.legend{
    z-index: 100;
    top: 438px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    left: 8px;
    background: black;
    padding: 1rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    color: white;
    font-size: 20px;
    -ms-flex-direction: column;
    flex-direction: column;
    font-family: cursive;

}
.sagol{
    height: 30px;
    width: 30px;
    background-color: #e377c2; 
}
.red{
    height: 30px;
    width: 30px;
    background-color: red; 
}
.green{
    height: 30px;
    width: 30px;
    background-color: green; 
}
.orange{
    height: 30px;
    width: 30px;
    background-color: orange; 
}
.class{
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
}
.son{
    margin-left: 15px;
    padding-top: 6px;
}

/* The animation code */
@keyframes example {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: green;}
  }
  
  /* The element to apply the animation to */
  .anim {
    width: 100px;
    height: 100px;
    background-color: red;
    animation-name: example;
    animation-duration: 4s;
  }