.title{
    padding: 10rem;
    color: grey;
    font-size: 5rem;
    font-weight: bold;
    text-align: right;
    direction: rtl;
}

.div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.button{
    position: absolute;
    bottom: 0;
    z-index: 100000;
    right: 34px;
    background: transparent;
    color: grey;
    border: none;
    cursor: pointer;
    font-size: 23px;
    font-family: Assistant;
    font-style: italic;
  }

  .button:hover{
      font-size: 40px;
  }

 .tex{
     font-size: 3rem;
     color: grey;
     font-family: Assistant;
     font-weight: bold;
     margin: auto;
 }