.container{
    /* background: url(/assets/desert.jpg) no-repeat;
    background-size: cover; */
    direction: rtl;
    padding: 2rem;
    height: 100%;
}

.gallery{
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-around;
}

.gallery2{
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-around;
    margin-top: 3rem;
}

.photo{
    display: inline-block;
}
.img{
    height: 330px;
    width: 400px;
    border-radius: 5%;
}
.white1{
    color: black;
    font-family: Assistant;
    font-weight: bold;
    text-align: center;
    z-index: 10000;
    display: flex;
    justify-content: space-evenly;
    font-size: 77px;
    top: 100px;
    position: relative;
}

.white2{
    color: black;
    font-family: Assistant;
    font-weight: bold;
    text-align: center;
    z-index: 10000;
    display: flex;
    justify-content: space-evenly;
    font-size: 77px;
    bottom: 220px;
    position: relative;
}

.white3{
    color: black;
    font-family: Assistant;
    font-weight: bold;
    text-align: center;
    z-index: 10000;
    display: flex;
    justify-content: space-evenly;
    font-size: 77px;
    bottom: 180px;
    position: relative;
}

.opacity03{
    opacity: 0.3;
}

/* Style the video: 100% width and height to cover the entire window */
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
  }
  