<div class="container" *ngIf="firstPage">
<!----<router-outlet></router-outlet> -->
<video autoplay loop muted id="myVideo">
  <source src="/assets/video.mp4" type="video/mp4">
</video> 
  <div id="firstTitle" *ngIf="firstTitle" class="white1 animated rotateIn">
    <span> חשבתם שאפריקאים מובילים בכל תחומי הספורט? </span>
  </div>
  <div id="secondTitle" *ngIf="secondTitle" class="white2 animated rotateInDownLeft"> 
    <span> הכול טוב ויפה! אבל מה לגבי שחייה? </span>
  </div>
  <div id="thirdTitle" *ngIf="thirdTitle" class="white3 animated rotateIn">
    <span> תופתעו לגלות!</span>
  </div>
</div>      


<app-buuble-map [openMap]="secondPage"></app-buuble-map>